# Auth
JWT_SECRET=O9~m1+Q0ik123cI£Y&G?^££JcW80$h93kad£el
JWT_EXPIRATION_TIME=1d

# Nest
NEST_PORT=3333

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=PostgresUser #mesmo username da instancia do postgres rodando no container
DB_PASSWORD=StrongPassword! #mesma senha da instancia do postgres rodando no container
DB_NAME=agencia-db #mesmo banco criado na instancia do postgres rodando no container

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=StrongPassword!
REDIS_TTL=86400 # 24h em segundos
REDIS_URL=redis:6379

# Super Admin
SUPER_ADMIN_EMAIL=admin@seudominio.com
SUPER_ADMIN_PASSWORD=senha_segura

# Email
SMTP_HOST=seu-servidor-smtp
SMTP_PORT=587
SMTP_USER=seu-usuario
SMTP_PASS=sua-senha
SMTP_FROM=contato@seudominio.com
FROM_NAME="Agência Cuei - Não Responda"

# Configurações de Retentativa
EMAIL_MAX_RETRIES=3
EMAIL_RETRY_DELAY_MS=1000
EMAIL_SMTP_TIMEOUT=10000

# Utilize true se tiver um certificado ssl, false caso contrário
SMTP_SECURE=true

# WhatsApp
WHATSAPP_API_URL=https://api.evolution-api.com
WHATSAPP_API_KEY=sua_chave_api_aqui
WHATSAPP_SESSION_NAME=minha_sessao
WHATSAPP_TIMEOUT=30000

# Configurações HTTP
HTTP_TIMEOUT=5000
HTTP_MAX_REDIRECTS=5

# API
JWT_VERIFICATION_SECRET=O9~m1+Q0ik123cI£Y&G?^££JcW80$h93kad£el
MAIL_FROM=noreply@seu-dominio.com
BASE_URL=http://localhost:3000 #Porta configurada na variavel NEST_PORT

#Email externo
EMAIL_USER=seu-email@gmail.com
EMAIL_PASS=sua-senha
EMAIL_APP_PASS=sua-senha-app


#condigs dos containers docker
#postgres
POSTGRES_PASSWORD=StrongPassword!
POSTGRES_USER=PostgresUser
POSTGRES_DB=agencia-db

#redis
REDIS_PASSWORD=StrongPassword!
REDIS_PORT=6379